	<!----------------foot-wrapper---------->
	<div class="baps-foot desktop">
		<div class="foot-contact clearfix">
			<div class="baps-container">
				<span class="theme pull-left">Shoppenindewinkelstraat.nl</span>
				<p class="contact pull-right">
					<a href="#" class="icons icons-facebook"></a>
					<a href="#" class="icons icons-twitter"></a>
					<a href="#" class="icons icons-insta"></a>
					<a href="#" class="icons icons-blog"></a>
				</p>
			</div>
		</div>
		<div class="foot-sitemap">
			<div class="baps-container clearfix">
				<div class="span-b-2">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Lookbooks</a></li>
						<li><a href="#">Winkeltips</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Shop</a></li>
					</ul>
				</div>
				<div class="span-b-2">
					<strong>Uitgebreid zoeken</strong>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Lookbooks</a></li>
						<li><a href="#">Winkeltips</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Shop</a></li>
					</ul>
				</div>
				<div class="span-b-2">
					<strong>Winkelgebieden</strong>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Lookbooks</a></li>
						<li><a href="#">Winkeltips</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Shop</a></li>
					</ul>
				</div>
				<div class="other">
					<strong>Over Baps:</strong>
					<p>
						Baps is ontwikkeld in samenwerking met branchevereniging INRetail (vroeger CBW-Mitex), die ruim 15.000 winkeliers in Nederland vertegenwoordigt.
					</p>
					<p>
						Baps: een winkeloverzicht dat je altijd bij je hebt, altijd actueel is en je bovendien zonder problemen naar de gewenste adressen loodst, in een logische volgorde.
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>