<!--logo-wrapper start-->
<div class="baps-nav">
	<div class="baps-container">
		<div class="row">
			<div class="span-b-12">
				<div class="nav-area clearfix">
					<ul class="pull-left">
						<li class="select">
							<a href="#" class="parent-menu">HOME</a>
						</li>
						<li>
							<span class="parent-menu">Uitgebreid zoeken</span>
							<div class="child-menu">
								<a href="#">Javascript with slider</a>
								<a href="#">Javascript with</a>
								<a href="#">Javascript</a>
								<a href="#">Javascript</a>
							</div>
						</li>
						<li>
							<a href="#" class="parent-menu">Winkelgebieden</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Lookbooks</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Winkeltips</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Blog</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Shop</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--logo-wrapper end-->