<!--baps-mobile-nav start-->
<div class="baps-mobile-nav mobile">
	<div class="baps-container">
		<div class="row">
			<div class="span-b-12">
				<div class="nav-area clearfix">
					<ul class="nav-list">
						<li class="select">
							<a href="#" class="parent-menu">HOME</a>
						</li>
						<li>
							<span class="parent-menu">Uitgebreid zoeken</span>
							<div class="child-menu">
								<a href="#">Javascript with slider</a>
								<a href="#">Javascript with</a>
								<a href="#">Javascript</a>
								<a href="#">Javascript</a>
							</div>
						</li>
						<li>
							<a href="#" class="parent-menu">Winkelgebieden</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Lookbooks</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Winkeltips</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Blog</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Shop</a>
						</li>
					</ul>
					<ul class="nav-registe">
						<li class="select">
							<a href="#" class="parent-menu">Aanmelden/Login</a>
						</li>
						<li>
							<span class="parent-menu">Download</span>
						</li>
						<li>
							<a href="#" class="parent-menu">Over Baps</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Adverteren</a>
						</li>
						<li>
							<a href="#" class="parent-menu">Winkeliers</a>
						</li>
						<li>
							<p class="contact">
								<a href="#" class="icons icons-facebook"></a>
								<a href="#" class="icons icons-twitter"></a>
								<a href="#" class="icons icons-insta"></a>
								<a href="#" class="icons icons-blog"></a>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--baps-mobile-nav end-->