<!--baps-head start-->
<div class="baps-head">
	<div class="baps-container">
		<div class="row">
			<div class="span-b-12">
				<ul class="top-account">
                    <li><a href="/">Aanmelden/Login</a></li>
					<li><a href="/">Download</a></li>
					<li><a href="/">Over Baps</a></li>
					<li><a href="/">Adverteren</a></li>
					<li><a href="/">Winkeliers</a></li>
                </ul>
				<h1><i class="icons icons-hamburger offset-right1 mobile inline-blk"></i>Shoppenindewinkelstraat.nl</h1>
			</div>
		</div>
	</div>
</div>
<!--breadcrumb-top end-->
